<img src="https://i.pinimg.com/564x/28/b5/f4/28b5f406b0fa8b632ae6ec335d8e2fa7.jpg" style="width: 500px; height: 200px;" alt="">
<div>
<h6>Kiralama Tarihi Giriniz</h6>
    <label for="rentDate" class="col-4 col-form-label">Kiralama Tarihi:</label>
        <div class="form-group row mb-2">
          <div class="col-8">
            <input class="form-control" min="{{ getDate(1) }}" value="{{ getDate(1) }}" type="date"
              [(ngModel)]="rentDate" />
          </div>
        </div>

        <label for="returnDate" class="col-4 col-form-label">Teslim Tarihi:</label>
        <div class="form-group row">
          <div class="col-8">
            <input class="form-control" type="date" min="{{ getDate(2) }}" value="{{ getDate(2) }}"
              [(ngModel)]="returnDate" />
          </div>
        </div>
        <div>
          <button routerLink="/cars/payment" (click)="submit()" class="btn btn-primary">Ödemeye Git</button>
        </div>

        
</div>